<div class="page-content-wrap" id="contact_form_answers">
  <div class="row">
    <div class="col-md-12">
      <!-- START BASIC TABLE SAMPLE -->
      <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="panel-title"><span class="fa fa-archive"></span> <%= t('.goals', default: 'New Goal') %></h3>
                </div>
                <div class="col-md-6 text-right">
                    <%= link_to admin_plugins_cama_contact_form_admin_goals_path, class: "btn btn-default" do %>
                    	<%= t('.goals', default: 'Back') %>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="panel-body">
					<%= render "plugins/cama_contact_form/admin_goals/form", goal: @goal %>
				</div>
			</div>
		</div>
	</div>
</div>
